@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Geral */
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background-color: #4f617f;
}

header {
  background-color: #3897d8;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header img {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 10px 0;
}

/* Layout */
main {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #e2ebf2;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(26, 24, 24, 0.836);
}

section {
  margin-bottom: 20px;
}

section img {
  height: 90px;
  border-radius: 50%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Formulário */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select,
input[type="number"],
button {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
  font-weight: 600;
  font-style: italic;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #2980b9;
}

/* Resultados e Navegação */
#result {
  font-size: 1.2em;
  margin-bottom: 15px;
}

#navigation,
#tv-navigation {
  display: flex;
  justify-content: space-between;
}

#navigation button,
#tv-navigation button {
  flex: 1;
  margin: 0 5px;
}

/* Funções Extras */
#extra-functions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#extra-functions button {
  background-color: #2980b9;
}

#extra-functions button:hover {
  background-color: #3498db;
}

/* Favoritos */
#favorites {
  background: #eaf1f7;
  padding: 15px;
  border-radius: 8px;
}

#favorites-list {
  list-style-type: none;
  padding: 0;
}

#favorites-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Modo TV */
#tv-mode {
  display: none;
}

.tv-mode-active #tv-mode {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; /* Fundo preto */
  color: white; /* Texto branco */
  padding: 20px;
  box-sizing: border-box;
}

#tv-result {
  font-size: 1.5em;
}

#tv-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#tv-navigation button {
  flex: 1;
  margin: 0 5px;
}

/* Tema Escuro */
.dark-theme {
  background-color: #1e1e1e;
  color: #ccc;
}

.dark-theme header {
  background-color: #333;
}

.dark-theme #result,
.dark-theme #tv-result,
.dark-theme #favorites {
  background-color: #2e2e2e;
  color: #ccc;
}

.dark-theme select,
.dark-theme input[type="number"],
.dark-theme button {
  border-color: #444;
}

.dark-theme button {
  background-color: #555;
}

.dark-theme button:hover {
  background-color: #666;
}
